.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-content {
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: 0;
}

.hero-content img {
    position: relative;
    left: 50%;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transform: translate3d(-50%, 0, 0);
}

@media (max-width:768px) {
    .hero-content img {
        position: relative;
        left: 50%;
        bottom: 0;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        transform: translate3d(-50%, 0, 0);
    }


}