@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.ontainer {
    background-color: #000000d8;
    color: #fff;
    padding: 20px 40px;
}


.footer-columns {
    display: grid;
    grid-template-columns: repeat(5, minmax(5, 12em));
}

.footer-columns .column:nth-child(1) {
    grid-column: 1 /span 2;
}


.wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}


footer p {
    font-size: 0.9em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

.copy_right {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        justify-content: space-around;
    }
}